@use 'variables'as *;

@media (min-width: $mobile) {
  .ai-question-suggestion {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm, 8px);
    padding: 10px;
    border-radius: var(--radius-md, 8px);
    border: 1px solid var(--border-default, #464646);
    background: var(--bg-default, #1D1D1D);
    margin-top: 24px;

    &__title {
      display: flex;
      align-items: center;
      gap: 4px;

      /* Heading/H3 */
      font-size: 20px;
      font-weight: 700;
      line-height: 140%;
      /* 28px */

      background: var(--gradation_02, linear-gradient(107deg, #FFA600 27.37%, #FACE0B 61.52%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &__body{
      display: flex;
      padding: 12px 20px;
      align-self: stretch;
      background: var(--surface-default, #2F2F2F);
      color: var(--text-primary);

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: var(--spacing-md, 12px);
      flex: 1 0 0;
      p{
        i{
          display: inline-flex;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background: rgba(255, 122, 0, 0.20);
        }
        display: flex;
        align-items: center;
        gap: 4px;
        color: var(--text-primary, #F0F0F0);

        /* Body/SM_B */
        font-size: 15px;
        font-weight: 600;
        line-height: 150%; /* 22.5px */
      }
    }
  }
}