@use 'variables' as *;
@use 'mixin' as *;
@media (min-width: $mobile) {
  .ai-news-briefing {
    display: flex;
    flex-direction: column;
    font-family: Pretendard, -apple-system, Roboto, Helvetica, sans-serif;
    // gap: 12px;
    padding: 0 $mobilePadSide;

    &__header {
      display: flex;
      width: 100%;
      align-items: end;
      gap: 4px;
      font-size: 20px;
      color: var(--text-primary, #F0F0F0);
      font-weight: 700;
      line-height: 28px;
    }

    &__title {
      color: var(--text-primary, #F0F0F0);
      br{
        display: none;
        &:before{
          content: ' ';
        }
      }
      i{
        vertical-align: middle;
      }
    }

    &__icon {
      width: 28px;
      height: 28px;
      flex-shrink: 0;
      object-fit: contain;
      object-position: center;
    }

    &__description {
      color: var(--text-primary, #F0F0F0);
      font-size: 15px;
      font-weight: 400;
      line-height: 23px;
    }

    &__settings {
      display: flex;
      margin-top: 12px;
      width: 100%;
      flex-direction: column;
      gap: 8px;
    }
    .news-briefing-layout{
      margin: 24px 0;
    }

    &__tags {
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: 13px;
      color: var(--white, #FFF);
      font-weight: 600;
      white-space: nowrap;
    }
    .config-wrapper{
      display: flex;
      width: 100%;
      gap: 4px;
    }

    &__config-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: var(--radius-md, 8px);
      gap: 10px;
      overflow: hidden;
      background-color: var(--bg-subtle, #2F2F2F);
      padding: 4px 14px;
      font-size: 12px;
      color: var(--text-primary, #F0F0F0);
      font-weight: 500;
      border: none;
      cursor: pointer;
      margin-top: 8px;
      align-self: flex-start;

      &:hover {
        opacity: 0.8;
      }
    }

    &__create-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: var(--radius-pill, 999px);
      gap: 10px;
      overflow: hidden;
      font-size: 16px;
      color: var(--white, #FFF);
      font-weight: 600;
      line-height: 1.4;
      background-color: var(--orange-100, #FF7A00);
      padding: 6px 20px;
      border: none;
      cursor: pointer;
      margin-top: 12px;
      align-self: flex-start;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  .briefing-item {
    &__card {
      display: flex;
      padding: 24px 15px 16px;
      flex-direction: column;
      align-self: stretch;
      border-radius: var(--radius-md, 8px);
      border: 1px solid var(--border-default, #464646);
      background: var(--bg-subtle, #2F2F2F);

      /* inner shadow */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20) inset;
    }
  
    &__content {
      display: flex;
      flex-direction: column;
      gap: 4px;
      flex: 1 0 0;
    }

    &__badges{
      display: flex;
      gap: 4px;
      .badge{
        display: flex;
        height: 20px;
        padding: 0 var(--gap-normal, 8px);
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        color: var(--white, #FFF);
        font-size: 13px;
        font-weight: 600;
        line-height: 150%; /* 19.5px */
        &.filled{
          border-radius: 100px;
          background: var(--orange-200, #E55204);
        }
        &.outline{
          border-radius: 100px;
          border: 1px solid var(--base-gradation, #FF800B);
          background: var(--gray-dark, #1D1D1D);
          @include GradientBorder;
        }

        font-size: 12px;
        font-weight: 500;
        line-height: 150%; /* 18px */
      }
    }
  
    &__title {
      color: var(--text-primary, #F0F0F0);
      font-size: 18px;
      font-weight: 400;
      line-height: 150%; /* 27px */
      i{
        vertical-align: top;
      }
    }
  
    &__date {
      color: var(--text-disabled, #A8A8A8);
      font-size: 12px;
      font-weight: 500;
      line-height: 150%; /* 18px */
    }
    &__loading {
      display: flex;
      gap: 9px;
      align-items: center;
      padding: 12px 20px;
      border-radius: var(--radius-md, 8px);
      border: 1px solid var(--border-default, #464646);
      background: var(--bg-subtle, #2F2F2F);

      /* inner shadow */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20) inset;
      p{
        color: var(--text-primary, #F0F0F0);
        font-size: 15px;
        font-weight: 600;
        line-height: 150%; /* 22.5px */
      }
    }
  }

  .customized-review{
    border-top: 1px solid var(--border-default, #464646);
    padding-top: 24px;
    margin-top: 12px;
    &__header{
      display: flex;
      justify-content: space-between;
      h3{
        color: var(--text-primary, #F0F0F0);
        font-size: 20px;
        font-weight: 700;
        line-height: 140%; /* 28px */
        i{
          vertical-align: top;
        }
      }
      .indicator.swiper-pagination-horizontal{
        display: flex;
        align-items: center;
        gap: 4px;
        width: auto;
        .dot{
          display: inline-flex;
          width: 8px;
          height: 8px;
          border-radius: var(--radius-pill, 999px);
          background: var(--bg-subtle, #2F2F2F);
          &.active{
            background: var(--orange-100);
          }
        }
      }
    }
    .swiper-wrapper{
      display: grid;
      gap: 32px;
      .news-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--spacing-xl, 24px);
        &__item{
          
          a{
            height: 379px;
            
            .news-content{
              flex: 1 1 auto;
              .news-summary{
                color: var(--text-primary, #F0F0F0);
                font-size: 18px;
                font-weight: 400;
                line-height: 150%; /* 27px */
              }
              .message{
                color: var(--text-secondary, #7B7B7B);
                font-size: 14px;
                font-weight: 400;
                line-height: 150%; /* 21px */
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }

  .briefing-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    min-height: 20px;
    padding: 0 8px;
    background-color: var(--orange-200, #E55204);
    color: var(--white, #FFF);
  }
}
