@use 'variables' as *;

.ai-tools-tooltip {
  width: 400px;
  height: 447px;
  position: relative;
  display: none;
  
  &.is-visible {
    display: block;
  }

  .tooltip-arrow {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 316px;
    top: 0;
    z-index: 2;

    svg {
      width: 100%;
      height: 100%;
      fill: var(--bg-default);
    }
  }

  .tooltip-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 18px;
    height: 429px;
    overflow: hidden;
  }

  .tooltip-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}
