@use 'variables' as *;

.ai-tools-tooltip {
  width: 400px;
  height: 447px;
  position: absolute;
  display: none;
  z-index: 10;

  &.is-visible {
    display: block;
  }

  .tooltip-arrow {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 316px;
    top: -6px;
    z-index: 2;

    svg {
      width: 100%;
      height: 100%;
      fill: var(--bg-default);
    }
  }

  .tooltip-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 12px;
    height: 429px;
    overflow: hidden;
  }

  .tooltip-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &.is-above {
    .tooltip-arrow {
      top: auto;
      bottom: -6px;
      transform: rotate(180deg);
    }

    .tooltip-content {
      top: 0;
      bottom: auto;
    }
  }
}
