@use 'variables' as *;
.article-style{
  h2{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-primary);
    margin-bottom: 0.8em;
  }
  p {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-primary);
    line-height: 150%;
    word-break: keep-all;
    margin-bottom: 0.2em;
  }
  ul{
    margin: 1em 0;
    li{
      font-size: 14px;
      margin: 0.5em 0;
    }
  }
}