@use 'variables' as *;
.banner{
  width: 100%;
  background-color: #2F2F2F;
  color: #F0F0F0;
  text-align: center;
  padding: 4px 8px;
  white-space: nowrap;
  overflow: hidden;
  
  color: var(--text-primary, #F0F0F0);
  
  /* Caption/SM */
  font-size: 12px;
  font-weight: 500;
  line-height: 150%; /* 18px */
  svg{
    vertical-align: middle;
  }
  
}
@media screen and (min-width: $mobile){
  .banner{
    min-width: 1210px;
  }
}