@use 'variables' as *;
.banner{
  width: 100%;
  background-color: var(--bg-gray);
  color: var(--text-opposite);
  text-align: center;
  padding: 4px 8px;
  white-space: nowrap;
  overflow: hidden;
  
  
  /* Caption/SM */
  font-size: 12px;
  font-weight: 500;
  line-height: 150%; /* 18px */
  svg{
    vertical-align: middle;
  }
  
}
@media screen and (min-width: $mobile){
  .banner{
    min-width: $pc;
  }
}