// 안드로이드 앱: body 스크롤로 변경
.chatbot.is-android-app {
  position: relative;
  inset: auto;
  transform: none;
  &.is-open {
    transform: none;
    .chatbot__container {
      position: relative;
      height: auto;
      min-height: 100dvh;
      max-height: none;
      padding-top: 114px;
    }
  }
  .chatbot__header {
    position: fixed;
    width: 100dvw;
    z-index: 3;
  }
  .chatbot__body {
    overflow-y: visible;
    padding-bottom: 140px;
    height: auto;
  }
  .chatbot__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    // z-index: 10;
    background: var(--bg-default);
  }
  .chatbot__menu.is-open {
    position: fixed;
    inset: 0;
    overflow: hidden;
    z-index: 4;
  }
}