@use 'variables' as *;
@use 'mixin' as *;

@media (max-width: $mobile) {
  
  .my-study {
    display: flex;
    flex-direction: column;
    font-family: Pretendard, -apple-system, Roboto, Helvetica, sans-serif;
    gap: 12px;
    padding: 0 $mobilePadSide;

    &__header {
      display: flex;
      width: 100%;
      align-items: end;
      gap: 4px;
      font-size: 20px;
      color: var(--text-primary, #F0F0F0);
      font-weight: 700;
      line-height: 28px;
    }

    &__title {
      color: var(--text-primary, #F0F0F0);
      i{
        vertical-align: middle;
      }
    }

    &__icon {
      width: 28px;
      height: 28px;
      flex-shrink: 0;
      object-fit: contain;
      object-position: center;
    }

    &__description {
      color: var(--text-primary, #F0F0F0);
      font-size: 15px;
      font-weight: 400;
      line-height: 23px;
    }

    &__stats-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      background: var(--bg-subtle, #F9FAFB);
      /* inner shadow */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20) inset;
      border-radius: var(--radius-md, 8px);
      padding: 24px;
    }

    .stats-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 8px 20px;
      gap: 4px;
      
      
      &__label {
        font-size:  12px;
        font-weight: 500;
        line-height: 150%;
        color: var(--text-secondary, #626262);
        text-align: center;
      }
      
      &__value {
        font-size: 18px;
        font-weight: 700;
        line-height: 140%;
        color: var(--text-primary, #212121);
        text-align: center;

        &--level {
          border-radius: 100px;
          border: 1px solid var(--border-default, #E0E0E0);
          background: var(--bg-subtle_02, #F9FAFB);

          border-radius: 999px;
          padding: 4px 8px;

          color: var(--orange-100, #FF7A00);

          /* Caption/SM */
          font-family: Pretendard;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%; /* 18px */
        }
      }
      &:nth-child(1){
        border-right: 1px solid rgba(224, 224, 224, 1);
        border-bottom: 1px solid rgba(224, 224, 224, 1);
      }
      &:nth-child(2){
        border-bottom: 1px solid rgba(224, 224, 224, 1);
      }
      &:nth-child(3){
        border-right: 1px solid rgba(224, 224, 224, 1);
      }
    }

    &__settings {
      display: flex;
      margin-top: 12px;
      width: 100%;
      flex-direction: column;
      gap: 8px;
    }
    

    &__tags {
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: 13px;
      color: var(--white, #FFF);
      font-weight: 600;
      white-space: nowrap;
    }
    .config-wrapper{
      display: flex;
      width: 100%;
      gap: 4px;
    }

    &__config-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: var(--radius-md, 8px);
      gap: 10px;
      overflow: hidden;
      background-color: var(--bg-subtle, #2F2F2F);
      padding: 4px 14px;
      font-size: 12px;
      color: var(--text-primary, #F0F0F0);
      font-weight: 500;
      border: none;
      cursor: pointer;
      margin-top: 8px;
      align-self: flex-start;

      &:hover {
        opacity: 0.8;
      }
    }

    &__create-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: var(--radius-pill, 999px);
      gap: 10px;
      overflow: hidden;
      font-size: 16px;
      color: var(--white, #FFF);
      font-weight: 600;
      line-height: 1.4;
      background-color: var(--orange-100, #FF7A00);
      padding: 6px 20px;
      border: none;
      cursor: pointer;
      margin-top: 12px;
      align-self: flex-start;

      &:hover {
        opacity: 0.9;
      }
    }
  }

}
