@use 'variables' as *;
body{
  background-color: $bgDark;
}
.container{
  margin: 0 auto;
  width: 100%;
  padding-bottom: 10vh;
}
@media screen and (min-width: $mobile){
  .container{
    width: 1210px;
  }
}