@use 'variables' as *;
body{
  background-color: $bgDark;
}
.container{
  margin: 0 auto;
  width: 100%;
  padding-bottom: 10vh;
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-primary);
    color: var(--text-primary, #F0F0F0);
    margin: 24px 0;
    h2{
      /* Heading/H2 */
      font-size: 22px;
      font-weight: 700;
      line-height: 140%; /* 30.8px */
    }

    .btn-back {
      width: 28px;
      height: 28px;
      background: transparent;
      border: 0;
      padding: 0;
      cursor: pointer;

      svg {
        width: 28px;
        height: 28px;
      }
    }
    .flex-end{
      min-width: 28px;
    }
  }
}
@media screen and (min-width: $mobile){
  .container{
    width: 1210px;
    &__header{
      width: $pcContainerSub;
      margin-left: auto;
      margin-right: auto;
    }
  }
}