@use 'variables' as *;

.layer-popup {
  position: fixed;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 24px;
  z-index: 1000;

  &.is-active {
    display: flex;
  }

  &.tooltip-style {
    position: absolute;
    inset: auto;
    padding: 0;
    align-items: flex-start;
    justify-content: flex-start;

    &.is-active {
      display: block;
    }

    .layer-popup__backdrop {
      display: none;
    }

    .layer-popup__dialog {
      position: absolute;
      width: max-content;
      max-width: min(640px, calc(100vw - 32px));
    }

    .layer-popup__content {
      width: auto;
      justify-content: flex-start;
    }
  }

  .layer-popup__backdrop {
    position: absolute;
    inset: 0;
    background: var(--bg-dark-opacity);
  }

  .layer-popup__dialog {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .layer-popup__content {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

body.layer-popup-open {
  overflow: hidden;
}
