@use 'variables' as *;
body{
  background: var(--bg-default, #FFFFFF);
  &.dark{
    /* dark */
    /* color */
    --bg-dark-opacity: #000000b2;
    --bg-default: #1d1d1d;
    --bg-subtle: #2f2f2f;
    --bg-gray: #2f2f2f;
    --border-default: #464646;
    --surface-default: #2f2f2f;
    --surface-raised: #434343;
    --text-disabled: #a8a8a8;
    --text-primary: #f0f0f0;
    --text-secondary: #7b7b7b;
    --text-opposite: #f0f0f0;
  }
}
.container{
  margin: 0 auto;
  width: 100%;
  padding-bottom: 10vh;
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-primary, #111111);
    margin: 24px 0;
    padding: 0 $mobilePadSide;
    h2{
      /* Heading/H2 */
      font-size: 22px;
      font-weight: 700;
      line-height: 140%; /* 30.8px */
    }

    .btn-back {
      width: 28px;
      height: 28px;
      background: transparent;
      border: 0;
      padding: 0;
      cursor: pointer;

      svg {
        width: 28px;
        height: 28px;
      }
    }
    .flex-end{
      min-width: 28px;
    }
  }
}
@media screen and (min-width: $mobile){
  
  .container{
    width: $pc;
    padding-left:10px;
    padding-right:10px;
    &__header{
      width: $pcContainerSub;
      margin-left: auto;
      margin-right: auto;
      padding: 0;

    }
  }
  .for-mobile{
    display: none !important;
  }
}
@media screen and (max-width: $mobile) {
  .for-pc{
    display: none !important;
  }
}