@use 'variables'as *;
@media (max-width: $mobile) {

  .market-briefing {
    display: flex;
    padding: 20px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid transparent;
    box-shadow: 2px 3px 8px 0 rgba(0, 0, 0, 0.20);
    background:
      linear-gradient(var(--bg-subtle), var(--bg-subtle)) padding-box,
      linear-gradient(180deg, #FF800B 14.9%, #E44F00 88.94%) border-box;
    // box-shadow: 2px 3px 8px 0 rgba(0, 0, 0, 0.20);
    margin: 24px $mobilePadSide;
  
    &__section {
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-self: stretch;
    }
  
    &__header {
      display: flex;
      align-items: center;
      gap: 8px;
      align-self: stretch;
    }
  
    &__title {
      flex: 1 0 0;
      color: rgba(255, 122, 0, 1);
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
    }
  
    &__view-all {
      display: flex;
      width: 136px;
      justify-content: flex-end;
      align-items: center;
      // gap: 7px;
      cursor: pointer;
      background-color: transparent;
      border: 0;
  
      .view-all-text {
        color: #7B7B7B;
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
      }
  
      .chevron-icon {
        width: 28px;
        height: 28px;
        flex-shrink: 0;
      }
    }
  
    &__item {
      display: flex;
      align-items: center;
      gap: 8px;
      align-self: stretch;
  
      .item-badge {
        display: flex;
        padding: 4px 14px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: var(--radius-md, 8px);
        background: var(--base-gradation, linear-gradient(180deg, #FF800B 14.9%, #E44F00 88.94%));
        color: rgba(255, 255, 255, 1);
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        white-space: nowrap;
      }
  
      .item-description {
        flex: 1 0 0;
        color: var(--text-primary);
        font-family: Pretendard, -apple-system, Roboto, Helvetica, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
  
      &_no-data {
        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 4px;
          color: var(--text-primary);
  
          .message {
            &-main {
              font-size: 15px;
              font-weight: 600;
            }
  
            &-sub {
              font-size: 12px;
              font-weight: 500;
              color: var(--text-secondary);
            }
          }
        }
  
      }
  
      &_loading {
        display: flex;
        gap: 9px;
        align-items: center;
        padding: 12px 20px;
        border-radius: var(--radius-md, 8px);
        border: 1px solid var(--border-default, #464646);
        background: var(--bg-subtle, #2F2F2F);
  
        /* inner shadow */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20) inset;
        p{
          font-size: 15px;
          font-weight: 600;
          color: var(--text-primary);
          line-height: 150%; /* 22.5px */
        }
      }
    }
  
    &__divider {
      width: 100%;
      height: 1px;
      background: var(--border-default, #464646);
    }
  }
}