@use 'variables'as *;

.market-briefing {
  display: flex;
  padding: 20px 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid transparent;
  // background: #1D1D1D;
  background:
    linear-gradient(#1D1D1D, #1D1D1D) padding-box,
    linear-gradient(180deg, #FF800B 14.9%, #E44F00 88.94%) border-box;
  // box-shadow: 2px 3px 8px 0 rgba(0, 0, 0, 0.20);
  margin: 24px $mobilePadSide;

  &__section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: stretch;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
  }

  &__title {
    flex: 1 0 0;
    color: rgba(255, 122, 0, 1);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
  }

  &__view-all {
    display: flex;
    width: 136px;
    justify-content: flex-end;
    align-items: center;
    // gap: 7px;
    cursor: pointer;

    .view-all-text {
      color: #7B7B7B;
      font-family: Pretendard, -apple-system, Roboto, Helvetica, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }

    .chevron-icon {
      width: 28px;
      height: 28px;
      flex-shrink: 0;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    .item-badge {
      display: flex;
      padding: 4px 14px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: var(--radius-md, 8px);
      background: var(--base-gradation, linear-gradient(180deg, #FF800B 14.9%, #E44F00 88.94%));
      color: rgba(255, 255, 255, 1);
      font-size: 13px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      white-space: nowrap;
    }

    .item-description {
      flex: 1 0 0;
      color: #F0F0F0;
      font-family: Pretendard, -apple-system, Roboto, Helvetica, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
  }

  &__divider {
    width: 100%;
    height: 1px;
    background: var(--border-default, #464646);
  }
}