@mixin scrollX_mobile{
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;           /* Chrome / Safari / Edge */
  }
}
@mixin scrollbarPc{
  &::-webkit-scrollbar {
    height: 8px;
    /* Chrome / Safari / Edge */
  }

  // /* 트랙(배경) */
  &::-webkit-scrollbar-track {
    background: var(--bg-subtle_02);
    border-radius: 8px;
  }
  
  // /* 드래그 핸들 */
  &::-webkit-scrollbar-thumb {
    background: var(--surface-raised);
    border-radius: 8px;
  }
}
@mixin GradientBorder {
  border: 1px solid transparent;
  background: linear-gradient(#2F2F2F, #2F2F2F) padding-box, linear-gradient(130deg, #FF800B 14.9%, #E44F00 88.94%) border-box;
}
@mixin GradientBorderDark {
  border: 1px solid transparent;
  background: linear-gradient(#1D1D1D, #1D1D1D) padding-box, linear-gradient(130deg, #FF800B 14.9%, #E44F00 88.94%) border-box;
}
@mixin GradientBorderLight {
  border: 1px solid transparent;
  background: linear-gradient(var(--bg-default), var(--bg-default)) padding-box, linear-gradient(180deg, rgba(255, 238, 223, .7) 14.9%, var(--surface-raised) 88.94%) border-box;
}
@mixin StickyTop{
  position: sticky;
  top: 0;
}
@mixin placeholderImg{
  background-image: url('../../../assets/images/img-placeholder.png');
}
@mixin imgCover{
  width: 100%;
  height: 100%;
  object-fit: cover;
}