@mixin scrollX_mobile{
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;           /* Chrome / Safari / Edge */
  }
}
@mixin scrollbarPc{
  &::-webkit-scrollbar {
    height: 8px;
    /* Chrome / Safari / Edge */
  }

  // /* 트랙(배경) */
  &::-webkit-scrollbar-track {
    background: #5f5f5f;
    border-radius: 8px;
  }

  // /* 드래그 핸들 */
  &::-webkit-scrollbar-thumb {
    background: #464646;
    border-radius: 8px;
  }
}
@mixin GradientBorder {
  border: 1px solid transparent;
  background: linear-gradient(#2F2F2F, #2F2F2F) padding-box, linear-gradient(130deg, #FF800B 14.9%, #E44F00 88.94%) border-box;
}
@mixin StickyTop{
  position: sticky;
  top: 0;
}