@use 'variables'as *;
@use 'mixin' as *;
@media screen and (min-width: $mobile) {
  //stock에서 추가된 내용만
  .fn-buttons{
    grid: 3/4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    padding-right: $mobilePadSide;
    .btn{
      padding: 0;
      width: 24px;
      height: 24px;
      background-color: transparent;
      border: 0;
      color: var(--text-primary);
    }
  }

  /* 맞춤형 해설 - 뉴스 목록 (mobile) */
  .customized-review__body {
    .news-list {
      list-style: none;
      margin: 0;
      padding: 0;
      gap: var(--spacing-xl, 24px);

      .news-list__item {
        height: 387px;
        a {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          // flex: 1 0 0;
          border-radius: 8px;
          padding: 0;
          border: 0;
          width: 100%;

          .news-thumb {
            height: 207px;
            align-self: stretch;
            border-radius: 12px 12px 0 0;
            flex: none;
            border: 0;
            @include placeholderImg;
            background-size: cover;
            overflow: hidden;
            img{
              @include imgCover;
            }
          }
          

          .news-content {
            display: flex;
            padding: 20px;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            align-self: stretch;
            border-radius: 0 0 12px 12px;
            border: 1px solid #464646;
            background: #1D1D1D;
            flex: 1 1 auto;

            .news-badge {
              display: flex;
              height: 20px;
              padding: 0 8px;
              justify-content: center;
              align-items: center;
              align-content: center;
              flex-wrap: wrap;
              border-radius: 100px;
              background: var(--orange-200);
              color: var(--white);
              font-size: 13px;
              font-weight: 600;
              line-height: 150%;
              box-shadow: none;
            }

            .news-title {
              align-self: stretch;
              color: var(--text-primary);
              font-size: 18px;
              font-weight: 400;
              line-height: 150%;
            }

            .news-summary {
              align-self: stretch;
              color: #7B7B7B;
              font-size: 14px;
              font-weight: 400;
              line-height: 150%;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}