@use 'variables' as *;
@media screen and (min-width: $mobile) {
  .news-briefing-settings.bottom-sheet {
    bottom: unset;
    top: 100px;
    left: unset;
    right: 0;
    transform: translate(calc(-50% + 100px), 0);
    border-radius: var(--radius-lg, 12px);
    &.is-open{
      transform: translate(calc(-50% + 100px), 0);
      overflow: hidden;
    }
    .news-briefing-settings__container{
      padding: 0;
    }
  }
}

