.section-bar {
  display: flex;
  height: 40px;
  padding: 0 20px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid var(--border-default, #464646);

  &__container {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
  }

  &__tab {
    display: flex;
    height: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
  }

  &__label {
    color: var(--text-secondary, #7B7B7B);
    text-align: center;
    font-family: Pretendard, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
  }

  &__indicator {
    height: 2px;
    flex-shrink: 0;
    align-self: stretch;
  }

  &__tab.active &__label {
    color: var(--text-primary, #111111);
  }

  &__tab.active &__indicator {
    background: var(--text-primary, #F0F0F0);
  }
}
