
@use 'variables' as *;
.share-popup {
  display: flex;
  width: 120px;
  padding: 12px 20px;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  border-radius: var(--radius-sm);
  border: 1px solid var(--border-default);
  background: var(--bg-default);
  .share-popup__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
  
  .share-popup__title {
    flex: 1 0 0;
    color: var(--text-primary);
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
  }
  
  .close-button {
    width: 20px;
    height: 20px;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s;
  }
  
  .close-button:hover {
    opacity: 0.7;
  }
  
  .close-icon {
    width: 20px;
    height: 20px;
  }
  
  .share-popup__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    .share-btn {
      background: transparent;
      border: 0;
      padding: 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s;
      &:hover {
        border-color: var(--text-secondary);
        background: rgba(70, 70, 70, 0.3);
      }
      
      &:active {
        background: rgba(70, 70, 70, 0.5);
      }
    }
    
  }
  
  
}
