@use 'variables' as *;
@use 'mixin' as *;
@media screen and (min-width: $tablet) {
  .storage-tutor{
    .container__header{
      max-width: $pc;
    }
    .content-wrapper{
      // padding: 0 $mobilePadSide;
      .today{
        &__title{
          display: flex;
          justify-content: space-between;
          margin: 24px 0;
          h3{
            color: var(--text-primary);
          }
          .fn-order{
            display: inline-flex;
            gap: 7px;
            button{
              background-color: transparent;
              border: 0;
              color: var(--text-secondary, #7B7B7B);
              font-size: 14px;
              font-weight: 400;
              line-height: 150%; /* 21px */
              padding: 0;
              &.active{
                color: var(--text-primary, #F0F0F0);
              }
            }
          }
        }
        &__list{
          display: flex;
          flex-direction: column;
          gap: 12px;
          margin-bottom: 24px;
        }
      }
      .briefing-item__card{
        position: relative;
        .btn-remove{
          position: absolute;
          right: 12px;
          top: 20px;

        }
      }
      .briefing-item__title{
        flex-grow: 1;
      }
      .btn-more{
        display: flex;
        width: 100%;
        border: 0;
        height: var(--height-md, 40px);
        justify-content: center;
        align-items: center;
        gap: var(--gap-tight, 4px);
        border-radius: var(--radius-md, 8px);
        background: var(--surface-raised, #434343);
        color: var(--text-primary, #F0F0F0);
        font-size: 16px;
        font-weight: 600;
        line-height: 140%; /* 22.4px */
      }
    }
  }
}

@media screen and (min-width: $pc){
  .storage-tutor .content-wrapper .today__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}