@use 'variables'as *;

@media screen and (max-width: $mobile) {
  .content__title {
    align-items: center;
    gap: 12px;
    margin: 24px 0;
    padding: 0 $mobilePadSide;
    h3{
      font-size: 20px;
    }

    .toggle-switch {
      display: flex;
    }
  }
  .agent-brand{
    padding: 4px $mobilePadSide;
  }
  .agent-header{
    gap: 8px;
  }
  .nav-tabs{
    // width: $mobile;
    grid-row: 2;
  }
  .market-indicators{
    padding-left: $mobilePadSide;
  }

  .stock-issues {
    display: none;
    align-items: center;
    gap: 8px;
    width: 100%;
    overflow-x: auto;
    padding-left: $mobilePadSide;

    scrollbar-width: none;

    &::-webkit-scrollbar {
      // display: none;
      height: 0;
      /* Chrome / Safari / Edge */
    }

    gap: 12px;

    &.is-active {
      display: flex;
    }
    &__title{
      display: none;
      
    }
  }

  .stock-issue-card {
    width: 212px;
  }
}