@use 'variables'as *;
@use 'mixin' as *;
.timestamp {
  color: var(--text-secondary, #7B7B7B);
  /* Body/SS */
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin: 4px 0;
  width: 100%;
  vertical-align: middle;
  p{
    margin: 0;
    line-height: 1.3;
    &.pad{
      padding: 0 $mobilePadSide;
    }
  }
  &.align-r{
    text-align: right;
  }
  svg{
    line-height: 14px;
  }
}