@use 'variables' as *;
@use 'mixin' as *;
@media screen and (min-width: $mobile){
  .top-news{
    .container__header{
      width: $pc;
      padding: 0;
    }
    .topper-message{
      color: var(--text-primary, #F0F0F0);
      text-align: center;
      font-size: 15px;
      font-weight: 400;
      line-height: 150%; /* 22.5px */
      margin: 24px 0;
    }
    .category-tag{
      &__wrapper{
        display: flex;
        justify-content: center;
        gap: var(--spacing-xs, 4px);
        &::-webkit-scrollbar {
          display: none;           /* Chrome / Safari / Edge */
        }
        .btn-tag{
          display: flex;
          padding: 0 20px;
          height: 34px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: var(--radius-pill, 999px);
          border: 1px solid var(--border-default, #464646);
          background: var(--bg-default, #1D1D1D);
          color: var(--text-primary, #F0F0F0);
          font-size: 16px;
          font-weight: 600;
          line-height: 140%; /* 22.4px */
          white-space: nowrap;
          &.active{
            border-radius: var(--radius-pill, 999px);
            background: var(--orange-100, #FF7A00);
            border-color: var(--orange-100, #FF7A00);
          }
        }
      }
    }
    .top-news-list{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      flex-direction: column;
      gap: var(--spacing-xl, 24px);
      padding: 0;
      width: 100%;
      margin-top: 24px;
      &__item{
        display: flex;
        height: auto;
        flex-direction: column;
      }
      &__thumb{
        position: relative;
        height: 158px;
        @include placeholderImg;
        background-size: cover;
        background-position: center;
        border-radius: 12px 12px 0 0;
        overflow: hidden;
        .badge{
          color: var(--text-primary);
          background: var(--orange-200, #E55204);
          font-size: 13px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%; /* 19.5px */
          &.rank{
            border-radius: 1px 0 12px 0;
            position: absolute;
            left: 0;
            top: 0;
            display: inline-flex;
            width: 32px;
            height: 24px;
            padding: 0 var(--gap-normal, 8px);
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
          }
          &.category{
            display: none;
          }
        }
      }
      &__title{
        flex: 1 1 auto;
        display: flex;
        gap: 8px;
        flex-direction: column;
        padding: 20px;
        border-radius: 0 0 12px 12px;
        border: 1px solid var(--border-default, #464646);
        background: var(--bg-default, #1D1D1D);


        .title{
          overflow: hidden;
          color: var(--text-primary, #F0F0F0);
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
  
          font-size: 18px;
          font-weight: 400;
          line-height: 150%; /* 27px */
        }
        .badge{
          color: var(--text-primary);
          background: var(--orange-200, #E55204);
          font-size: 13px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%; /* 19.5px */
          
          &.category{
            display: inline-flex;
            height: 20px;
            padding: 0 var(--gap-normal, 8px);
            border-radius: 99px;
          }
        }
        .message{
          color: var(--text-secondary, #7B7B7B);
          font-size: 14px;
          font-weight: 400;
          line-height: 150%; /* 21px */
        }
      }
    }
  }
}