@use 'variables'as *;
@use 'mixin'as *;

@media screen and (max-width: $mobile) {
  .trend {
    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding: 0 $mobilePadSide;
    }


    &__header {
      display: flex;
      width: 100%;
      align-items: end;
      gap: 4px;
      font-size: 20px;
      color: var(--text-primary, #F0F0F0);
      font-weight: 700;
      line-height: 28px;
      justify-content: space-between;
    }

    &__title {
      color: var(--text-primary, #F0F0F0);

      i {
        vertical-align: middle;
      }
    }

    &__icon {
      width: 28px;
      height: 28px;
      flex-shrink: 0;
      object-fit: contain;
      object-position: center;
    }

    &__description {
      color: var(--text-primary, #F0F0F0);
      font-size: 15px;
      font-weight: 400;
      line-height: 23px;
    }
  }
}