@use 'variables' as *;
@use 'mixin' as *;

@media (max-width: $mobile) {
  .tutor-chat{
    .container__header{
      padding-bottom: 15px;
      border-bottom: 1px solid var(--border-default, #464646);
    }
    .level-tag {
      display: inline-flex;
      height: 22px;
      padding: 0 10px;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      border: 1px solid var(--border-default, #E0E0E0);
      background: var(--bg, #2F2F2F);

      color: var(--white, #FFF);
      font-size: 12px;
      font-weight: 500;
      line-height: 150%;
      /* 18px */
    }

    &__wrapper{
      padding: 0 $mobilePadSide;
      .learning-topic-card {
        display: flex;
        flex-direction: column;
        gap: var(--gap-tight, 4px);
        padding: 12px 20px;
        margin-top: 12px;
        border-radius: var(--radius-lg, 12px);
        border: 1px solid var(--base-gradation, #FF800B);
        background: var(--bg-subtle, #F9FAFB);
        .topic-category-badge {
          display: inline-flex;
          align-self: flex-start;
          height: 20px;
          padding: 0 8px;
          justify-content: center;
          align-items: center;
          border-radius: 100px;
          border: 1px solid var(--base-gradation, #FF800B);
          background: var(--gray-dark, #1D1D1D);

          color: var(--white, #FFF);
          font-size: 13px;
          font-weight: 600;
          line-height: 150%; /* 19.5px */
        }

        .topic-title {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;

          color: var(--text-primary, #212121);
          font-size: 15px;
          font-weight: 600;
          line-height: 150%; /* 22.5px */
        }

        .topic-date {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;

          color: var(--text-secondary, #626262);
          font-size: 14px;
          font-weight: 400;
          line-height: 150%; /* 21px */
        }
      }

      .chat-buttons {
        display: flex;
        justify-content: space-between;
        gap: 12px;
        margin-top: 12px;

        .chat-button {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: var(--gap-tight, 4px);
          flex: 1 0 0;
          padding: 12px 20px;
          border-radius: var(--radius-lg, 12px);
          background: var(--bg-subtle, #F9FAFB);
          // overflow: hidden;
          cursor: pointer;

          border: 1px solid var(--border-default, #E0E0E0);
          background: var(--bg-subtle, #F9FAFB);


          // svg {
          //   flex-shrink: 0;
          // }

          &__label {
            color: var(--text-primary, #212121);
            font-size: 13px;
            font-weight: 600;
            line-height: 150%; /* 19.5px */
          }
        }
      }

      .chat-divider{
        display: flex;
        margin: 24px 0;
        gap: 12px;
        align-items: center;
        .line{
          display: inline-flex;
          flex: 1 0 0;
          border-top: 1px solid var(--border-default, #E0E0E0);
          height: 1px;
        }
        .label{
          color: var(--text-secondary, #626262);
          
          font-size: 12px;
          font-weight: 500;
          line-height: 150%; /* 18px */
        }
      }
    }
  
  }
}
