/* theme */
:root {
  /* light */
  /* color */
  --bg-dark-opacity: #00000080;
  --bg-default: #ffffff;
  --bg-subtle: #f9fafb;
  --bg-subtle_02: #F9FAFB;
  --bg-gray: #F9FAFB;
  --border-default: #e0e0e0;
  --surface-default: #f2f2f2;
  --surface-raised: #ececec;
  --text-disabled: #a1a1a1;
  --text-primary: #111111;
  --text-secondary: #626262;
  --text-opposite: #111111;
  /* Value */
  /* color */
  --black: #000000;
  --blue: #2175ff;
  --gray-dark: #1d1d1d;
  --gray-light: #cccccc;
  --green: #37ce00;
  --orange-100: #ff7a00;
  --orange-100-60: #ff7a0099;
  --orange-200: #e55204;
  --red: #ff0000;
  --white: #ffffff;
  --oragne-border-dark: rgba(206, 108, 55, 1);

  
  /* spacing */
  /* Mode 1 */
  /* number */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 0.75rem;
  --spacing-lg: 1rem;
  --spacing-xl: 1.5rem;

  /* border radius */
  --radius-none: 0px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-pill: 999px;

  /* gap (컴포넌트 내부 간격) */
  /* Mode 1 */
  /* number */
  --gap-tight: 4px;
  --gap-normal: 8px;
  --gap-loose: 12px;

  /* heights */
  --height-sm: 32px;
  --height-md: 40px;
  --height-lg: 48px;

}
$mobile: 480px;
$pc: 1210px;
$tablet: 800px;
$pcContainerSub: 700px;

$bgDark: #1D1D1D;
$gnbHeight: 80px;
$mobilePadSide: 15px;
