/* theme */
:root {
  /* dark */
  /* color */
  --bg-dark-opacity: #000000b2;
  --bg-default: #1d1d1d;
  --bg-subtle: #2f2f2f;
  // --bg-다크,라이트-동일-회색: #2f2f2f;
  --border-default: #464646;
  --surface-default: #2f2f2f;
  --surface-raised: #434343;
  --text-disabled: #a8a8a8;
  --text-primary: #f0f0f0;
  --text-secondary: #7b7b7b;
  // --text-다크,라이트-동일-화이트: #f0f0f0;
  /* light */
  /* color */
  --bg-dark-opacity: #00000080;
  --bg-default: #ffffff;
  --bg-subtle: #f2f2f2;
  // --bg-다크,라이트-동일-회색: #2f2f2f;
  --border-default: #e0e0e0;
  --surface-default: #f2f2f2;
  --surface-raised: #ececec;
  --text-disabled: #a1a1a1;
  --text-primary: #111111;
  --text-secondary: #626262;
  // --text-다크,라이트-동일-화이트: #f0f0f0;
}
$mobile: 480px;

$bgDark: #1D1D1D;
$gnbHeight: 80px;
