/* theme */
:root {
  /* dark */
  /* color */
  --bg-dark-opacity: #000000b2;
  --bg-default: #1d1d1d;
  --bg-subtle: #2f2f2f;
  // --bg-다크,라이트-동일-회색: #2f2f2f;
  --border-default: #464646;
  --surface-default: #2f2f2f;
  --surface-raised: #434343;
  --text-disabled: #a8a8a8;
  --text-primary: #f0f0f0;
  --text-secondary: #7b7b7b;
  // --text-다크,라이트-동일-화이트: #f0f0f0;
  /* Value */
  /* color */
  --black: #000000;
  --blue: #2175ff;
  --gray-dark: #1d1d1d;
  --gray-light: #cccccc;
  --green: #37ce00;
  --orange-100: #ff7a00;
  --orange-100-60: #ff7a0099;
  --orange-200: #e55204;
  --red: #ff0000;
  --white: #ffffff;

  
  /* spacing */
  /* Mode 1 */
  /* number */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 0.75rem;
  --spacing-lg: 1rem;
  --spacing-xl: 1.5rem;
}
$mobile: 480px;
$pcContainerSub: 700px;

$bgDark: #1D1D1D;
$gnbHeight: 80px;
$mobilePadSide: 15px;